#{$btn} {
  display: inline-block;
  padding: 17px 38px;
  background: $color-main;
  cursor: pointer;
  outline: none;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration: none !important;
  letter-spacing: 0;
  transition: 0.2s ease;
  color: #fff;
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  box-shadow: none;
  min-width: 240px;

  &:hover,
  &:focus {
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(#0a1244, 0.15);
  }

  &:active {
    background: $color-main-active;
  }
}
