mixin btn(data)
	if data.submit

		+b('button').btn(type="submit" class= data.mods)
			+e('span').text!= data.text
					
	if data.button

		+b('button').btn(type="button" class= data.mods data-modal= data.modalId)

			if data.icon
				+e('span').icon
					img(src="assets/images/" + data.icon, alt="", loading="lazy")

			+e('span').text!= data.text
						
	if !data.submit && !data.button

		+b('a').btn(href= data.link, class= data.mods)!= data.text