#{$header} {
  background: #fff;
	width: 100%;
	transform: translateZ(0);
	transition: box-shadow .2s ease;
	z-index: 99;
	line-height: 0;

	&__container {
		max-width: 1230px;
		padding: 0 30px;
		margin: 0 auto;
		margin-bottom: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 90px;

		@media screen and (max-width: 767px) {
			height: 60px;
			padding: 0 15px;
    }
  }

	&__logo {
		display: block;
  }
}
