body {
  font-family: $font-main;
  font-size: 18px;
  line-height: 26px;
  background: #fff;
  letter-spacing: .000000001em;
  font-variant-ligatures: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-anchor: none;

  @media screen and (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }
}
