.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    flex: 1 0 auto;
    padding-top: 90px;

    @media screen and (max-width: 1023px) {
      padding-top: 60px;
    }
  }
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    padding: 0 15px
  }
}
