// Colors
$color-main: #00B8B3;
$color-main-hover: #f63266;
$color-main-active: #24B1B1;
$color-main2: #5D4ACA;
$color-main3: #00E2EA;
$color-text: #0A1244;
$color-error: #ff0000;
$color-bg: #F2F4F7;

//Fonts
$font-main: 'Gilroy', sans-serif;

//Components
$header: '.header';
$footer: '.footer';
$btn: '.btn';
