extends ../layouts/default.pug

block variables
  - var title = 'Web template'

block content

  +header({
    mods: ''
  })

  .container

    h1 Тест

    input(type="text" class="mask-test")

    +b('div').block
      +e('button').button Test

      +e('a').link Link

      | test

      +e('div').test ewrwer

    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod debitis, nisi autem quas totam et aliquam itaque. Quia, voluptatum officia. Perferendis eius quibusdam nulla nesciunt totam nemo enim reprehenderit ipsam?

    h2 Тест

    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod debitis, nisi autem quas totam et aliquam itaque. Quia, voluptatum officia. Perferendis eius quibusdam nulla nesciunt totam nemo enim reprehenderit ipsam?

    h3 Тест

    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod debitis, nisi autem quas totam et aliquam itaque. Quia, voluptatum officia. Perferendis eius quibusdam nulla nesciunt totam nemo enim reprehenderit ipsam
