block variables
include ../../node_modules/bemto.pug/bemto.pug
include ../components/header/header.pug
include ../components/footer/footer.pug
include ../components/btn/btn.pug

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="Web template" name="description")
    meta(content="keywords, wer" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(name="cmsmagazine" content="d01d6ca93e4b86389e6f0b7debe1e7c8")

    //- Open Graph / Facebook
    meta(property='og:title', content='Web template')
    meta(property='og:description', content='Web template')
    meta(property='og:url', content='https://lepshey.ru')
    meta(property="og:site_name" content="lepshey.ru")
    meta(property='og:type', content='website')
    meta(property='og:locale', content='ru_RU')
    meta(property='og:image', content='https://lepshey.ru/assets/images/img-share.jpg')

    //- Twitter
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:url" content="https://metatags.io/")
    meta(property="twitter:title" content="Meta Tags — Preview, Edit and Generate")
    meta(property="twitter:description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!")
    meta(property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png")

    //- Favicon
    link(rel="apple-touch-icon", sizes="180x180", href="assets/images/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="assets/images/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="assets/images/favicon/favicon-16x16.png")
    link(rel="manifest", href="site.webmanifest")
    link(rel="mask-icon", href="assets/images/favicon/safari-pinned-tab.svg", color="#00B8B3")
    meta(name="apple-mobile-web-app-title", content="lepshey.ru")
    meta(name="application-name", content="lepshey.ru")
    meta(name="msapplication-TileColor", content="#00B8B3")
    meta(name="theme-color", content="#ffffff")

    link(rel='stylesheet' href='assets/css/main.css?v0.1')

  body
    div.wrapper
      .content
        block content

      +footer({
        mods: ''
      })

    script(src='assets/js/index.js?v0.1')
